<div class="question-block" getIllumination="{{ questions[index].statusAnswer }}">
  <label> {{ question }} <input type="text" name="inputForAnswer" #answerInput/></label>
  <button class="btn btn-success" (click)="status = !status" getHideAnswer>Hint</button>
  <button class="btn btn-primary" (click)="sendAnswer()">Send</button>
</div>
<div *ngIf="status">
  {{ hint }}
</div>
